@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.header1{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#main-logo{
    width: 50px;
    cursor: pointer;
    transition: 0.3s all;
}
#main-logo:hover{
    transform: scale(1.2);
}
#main_text{
    padding: 0 0 0 50px;
    font-size: 2rem;
}

.header2{
    padding: 0 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header2 p{
    padding: 0 20px 0 20px;
    font-size: 25px;
    cursor: pointer;
}

#contact-text{
    color: gray;
}



/* hero */
.hero{
    height: 30vw;
    display: flex;
    align-items: center;
}

.hero1{
    width: 50%;
}
h1{
    padding: 0 0 20px 50px;
    font-size: 3.5rem;
}
.hero1 p{
    padding-left: 50px;
    padding-bottom: 40px;
}

#form1{
    padding: 0 100px 20px 50px;
}
#input1{
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 22px;
    border-radius: 15px;
    border: 1px solid black;
}
#form1 button{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}


.hero2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.hero2 img{
    margin-right: 40px;
    border-radius: 20px;
}

#weather-paragraph{
    text-align: center;
    width: 40%;
}